@using redditblazor.Service;
@inject ApiService apiservice



<div>
    <br />
    <h3>Write a Post</h3>
    <input placeholder="Title" type="input" id="title" @bind-value="title" />
    <input placeholder="Username" type="input" id="username" @bind-value="username" />
    <input placeholder="Text" type="input" id="text" @bind-value="text" />
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Upload Post</button>
</div>

@code {
    private string? title;

    private string? username;

    private string? text;

    private async void CreateNewPost()
    {


        await apiservice.CreatePost(title, username, text); 
}
